*,*::before,*::after{
  box-sizing: border-box;
}

.app-wrapper {
  padding: 10px;
  max-width: 1200px;
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "h h"
    "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.header {
  grid-area: h;
  background-color: rgb(12, 115, 250);
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.header__img {
  filter: invert();
}

.nav {
  grid-area: n;
  background-color: rgb(12, 115, 250);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  padding-left: 20px;
  gap: 10px;
  color: #fff;
}

.nav__link {
  display: inline-block;
  padding: 4px;
  width: 140px;
}

.nav__link:hover {
  background: rgb(0, 0, 0, 0.15);
  border-radius: 5px;
  cursor: pointer;
}

.content {
  grid-area: c;
  background-color: rgb(12, 115, 250);
  display: flex;
  gap: 10px;
  flex-direction: column;
  border-radius: 5px;
  padding: 7px 10px 7px 10px;
  color: #fff;
}

.content__img-container {
  width: 100%;
  height: 100px;
  max-height: 100px;
  background-image: url(../public/img/Main-background.svg);
  background-color: rgb(0, 255, 241);
  border-radius: 7px;
}
